.menu{
    background-color: rgb(201, 195, 195);
    display: flex;
    justify-content: space-between;
}

.actionField{
    display: flex;
    align-items: center;
    gap: 10px;
}

.actionField > a{
    text-decoration: none;
    color: black;
}

main{
    margin: auto;
}
